* {
	border-size: border-box;
}

body {
	font-family: "Baskerville", "Palatino", sans-serif;
	background-color: #e1ecc4;
}

.container {
	width: 900px;
	height: 300px;
	margin: 100px auto;
	background-color: #f2d5b9;
	border-style: outset;
	border-color: #e8b0a7;
}

h1,
h2 {
	font-size: 72px;
	font-weight: bold;
	color: #ff8485;
	text-align: center;
}

h2 {
	font-size: 36px;
}

.button-container {
	width: 800px;
	height: 100px;
	margin: 0px auto;
	text-align: center;
}

button {
	display: inline-block;
	width: 200px;
	height: 75px;
	margin: 10px 20px;
	border-style: outset;
	border-color: #e29596;
	background-color: #e8b0a7;
	font-weight: bold;
}

button:hover {
	background-color: rgba(226, 149, 150, 0.81);
}

a {
	text-decoration: none;
	color: #685858;
}

.food {
	height: auto;
}

.desc-container {
	width: auto;
	height: auto;
	text-align: center;
}

.description {
	display: inline-block;
	width: 300px;
	height: auto;
	text-align: justify;
	vertical-align: top;
	margin: 81.4px 0px 81.4px 50px;
	font-style: italic;
}