* {
	border-size: border-box;
}

body {
	font-family: "Baskerville", "Palatino", sans-serif;
	background-color: #e1ecc4;
}

.container {
	width: 900px;
	height: 300px;
	margin: 10px auto 30px auto;
	background-color: #f2d5b9;
	border-style: outset;
	border-color: #e8b0a7;
}
.button-container {
	width: 800px;
	height: 100px;
	margin: 0px auto;
	text-align: center;
}

.desc-container {
	width: auto;
	height: auto;
	text-align: center;
	color: #464444;
}

.inst-container {
	width: 820px;
	margin: 0px auto;
	color: #595757;
}
.description {
	display: inline-block;
	width: 300px;
	height: auto;
	text-align: justify;
	vertical-align: top;
	margin: 81.4px 0px 81.4px 50px;
	font-style: italic;
	border-top-style: dotted;
	border-bottom-style: dotted;
}

.ingredients,
.steps {
	display: inline-block;
	width: 340px;
	height: auto;
	margin: 20px 30px;
	vertical-align: top;
}

.food {
	 height: auto;
 }

.back {
	margin-left: 25.6px;
}

button {
	display: inline-block;
	width: 200px;
	height: 75px;
	margin: 10px 20px;
	border-style: outset;
	border-color: #e29596;
	background-color: #e8b0a7;
	font-weight: bold;
}

button:hover {
	background-color: rgba(226, 149, 150, 0.81);
}

h1,
h2 {
	font-size: 72px;
	font-weight: bold;
	color: #ff8485;
	text-align: center;
}

h2 {
	font-size: 36px;
}

img {
	border-style: outset;
	border-color: #e29596;
}

li {
	margin: 20px 0px;
}

a {
	text-decoration: none;
	color: #685858;
}